<fieldset>
  <legend>Security Questions</legend>
  <div class="form-row">
    <div class="form-group">
      <label>
        <input type="checkbox" name="communicableDisease" />
        I have a communicable disease.
      </label>
      <label>
        <input type="checkbox" name="moneyLaundering" />
        I have been involved in money laundering.
      </label>
      <label>
        <input type="checkbox" name="drugConspiracy" />
        I have been involved in drug conspiracy.
      </label>
      <label>
        <input type="checkbox" name="arrestedConvicted" />
        I have been arrested/convicted before.
      </label>
      <label>
        <input type="checkbox" name="mentalPhysicalDisorder" />
        I have a mental/physical disorder.
      </label>
    </div>
  </div>
</fieldset>
