<fieldset>
  <legend>Student Information</legend>
  <div class="form-row">
    <div class="form-group">
      <label for="enrolledSchool">Enrolled School</label>
      <input id="enrolledSchool" name="enrolledSchool" required />
    </div>
    <div class="form-group">
      <label for="schoolAddress">School Address</label>
      <input id="schoolAddress" name="schoolAddress" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="enrollmentDate">Enrollment Date</label>
      <input type="date" id="enrollmentDate" name="enrollmentDate" required />
    </div>
  </div>
</fieldset>
