<fieldset>
  <legend>Tourist Information</legend>
  <div class="form-row">
    <div class="form-group">
      <label for="purpose">Purpose of Visit</label>
      <input id="purpose" name="purpose" required <%= editable === false ?
      'disabled' : '' %> />
    </div>
  </div>
</fieldset>
