<fieldset>
  <legend>Work Information</legend>
  <div class="form-row">
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <input id="occupation" name="occupation" required />
    </div>
    <div class="form-group">
      <label for="workPhone">Work Phone</label>
      <input id="workPhone" name="workPhone" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="workAddress">Work Address</label>
      <input id="workAddress" name="workAddress" required />
    </div>
    <div class="form-group">
      <label for="workCity">Work City</label>
      <input id="workCity" name="workCity" required />
    </div>
  </div>
</fieldset>
